<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
    <form action="update-user" method="post">
        <input type="hidden" name="id" value="%d">
        FirstName: <input type="text" name="firstname" value="%s" /> <br><br>
        LastName: <input type="text" name="lastname" value="%s" /> <br><br>
        Email: <input type="text" name="email" value="%s" /> <br><br>
        Password: <input type="password" name="password" value="%s" > <br><br>
        <input type="submit" value="Update User">
    </form>
</body>
</html>